#nav {
    background-color: lightcoral;
    padding: 20px;
    text-align:center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.main {
    background-color: lightgray;
    text-align: center;
    padding-bottom: 250px;
    margin-left: 200px;
    margin-right: 200px;
    vertical-align: top
}

.taskboxes {
    background-color: blueviolet;
    padding-bottom: 120px;
    vertical-align: top;
    margin-bottom: 100px;

}

.new {
    
}